
<!-- Menu Mobile -->
<nav class="mt-10 space-y-4">
    <a href="{% url "home" %}" class="block text-gray-800 font-semibold">Beranda</a>

    <!-- Profil -->
    <div>
        <button @click="submenu.profil = !submenu.profil"
            class="block text-gray-800 font-semibold w-full text-left">
            Profil
        </button>
        <div x-show="submenu.profil" x-transition class="ml-4 mt-2 space-y-2">
            <a href="{% url "profil" %}" class="block text-gray-600">Tentang Kami</a>
            <a href="{% url "visimisi" %}" class="block text-gray-600">Visi & Misi</a>
            <a href="index.html" class="block text-gray-600">Club Wirausaha</a>
            <a href="struktur.html" class="block text-gray-600">Struktur</a>
            <a href="Kontak.html" class="block text-gray-600">Sejarah</a>
            <li><a href="{% url "beritadetail" %}">Berita</a></li>
        </div>
    </div>
    <!-- Inkubator -->
    <div>
        <button @click="submenu.inkubator = !submenu.inkubator"
            class="block text-gray-800 font-semibold w-full text-left">
            Inkubator Bisnis
        </button>
        <div x-show="submenu.inkubator" x-transition class="ml-4 mt-2 space-y-2">
            <a href="#" class="block text-gray-600">Model Inkubasi</a>
            <a href="#" class="block text-gray-600">Prosedur Seleksi</a>
            <a href="#" class="block text-gray-600">Tenant Inkubator</a>
            <a href="#" class="block text-gray-600">Daftar Menjadi Tenant</a>
        </div>
    </div>

    <a href="{% url "beritadetail" %}" class="block text-gray-800 font-semibold">Toko UNUJA</a>
    <a href="categori.html" class="block text-gray-800 font-semibold">FAQ</a>
    <a href="login.html" class="block text-gray-800 font-semibold">Login</a>
</nav>